{% if language == 'typescript' %}
export interface User {
  id: string;
  email: string;
  passwordHash: string;
  createdAt: Date;
}
{% else %}
/**
 * @typedef {Object} User
 * @property {string} id
 * @property {string} email
 * @property {string} passwordHash
 * @property {Date} createdAt
 */
{% endif %}
